[user]
	email = blazejdobek94@gmail.com
	name = Błażej Dobek
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RF
[interactive]
	diffFilter = diff-so-fancy --patch

# Dracula Dark Theme
[color]
	ui = true
[color "branch"]
  current = cyan bold reverse
  local = white
  plain =
  remote = cyan
[color "diff"]
	commit = yellow bold
	func = 146 bold
  plain =
	whitespace = red reverse
	meta = 11
	frag = magenta bold
	old = red bold
	new = green bold
[color "grep"]
  context =
  filename =
  function =
  linenumber = white
  match =
  selected =
  separator =
[color "interactive"]
  error =
  header =
  help =
  prompt =
[color "status"]
  added = green
  changed = yellow
  header =
  localBranch =
  nobranch =
  remoteBranch = cyan bold
  unmerged = magenta bold reverse
  untracked = red
  updated = green bold
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
